*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  background-color: whitesmoke;
}

.main {
  background-color: #fff;
}

.navbar-top {
  background-color: #f72210;
  font-size: 1.5rem;
}

.newsweek-logo {
  background: #9b8583
}

.btn-login {
  background-color: #f72210;
  font-weight: 700;
  font-size: 1.5rem;
}

.btn-subscribe {
  font-weight: 700;
  font-size: 1.5rem;
}

.top-ul {
  padding-bottom: 10px;
  position: relative;
}

.top-li {
  display: inline-block;
  list-style: none;
  border-right: 1px solid gray;
  padding: 0 1.5rem;
  font-size: 2rem;
  font-weight: 900;
}

.a-tag-li {
  color: black;
}

.a-tag-li:hover {
  color: red;
  text-decoration: none;
}

.form {
  width: 20rem;
}

.input-form {
  border: none;
  font-family: inherit;
  font-size: 2rem;
  margin-left: 1.5rem;
  width: 10rem;
  position: absolute;
  transition: all 0.4s;
}

.input-form::placeholder {
  font-size: 1.8rem;
}

.magnifying-glass {
  transform: translate(9rem, 0.3rem);
  width: 2.5rem;
  height: 2.5rem;
}

.input-form:focus {
  outline: none;
  width: 120rem;
  top: 0;
  left: 0;
}

.news-navbar-box {
  padding: 0.2rem 0;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

.navbar-news {
  color: #9b8583;
  font-size: 1.5rem;
}

.news-nav-a-tag:hover {
  color: #f72210 !important;
}

.active-a-tag {
  color: black;
  font-size: 1.5rem;
}

/*---------Card/news sections--------------- */

.flex {
  display: flex;
}

.red-underline:hover {
  text-decoration: underline;
  text-decoration-color: red;
}

.a-tag-remove-decoration {
  color: black;
}

.a-tag-remove-decoration:hover {
  color: black;
}

.news-col-titles {
  font-size: 1.8rem;
  padding-bottom: 1.5rem;
  color: gray;
}

.card-news-title {
  font-size: 2.2rem;
  font-weight: 900;
  line-height: 2rem;
}

.debate-title:hover { 
  text-decoration: none;
}

.card-news-text {
  font-size: 1.8rem;
}


.a-tag-news-img {
}

.kelly-image {
  width: 6.5rem;
  height: 6.5rem;
  margin-right: 2rem;
}

.title-debate-section {
  font-size: 1.6rem;
  font-weight: 500;
}

.author-debate-section{
  font-size: 1.5rem;
  font-weight: 500;
}

.author-name {
  font-weight: 900;
}

.debate-vs {
  border-top: 5px solid gray;
  border-bottom: 5px solid gray;
  padding: 1rem 0;
}

.vs {
  border: 1px solid gray;
  margin: 1rem;
  position: relative;
}

.vs::after {
  content: '';
  border-bottom: 2px solid gray;
  width: 100%;
  position: absolute;
  bottom: -4px;
  left: 0;
  }

.vs-span-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
}

.vs-span {
  background-color: black;
  border-radius: 50%;
  color: #fff;
  padding: 1rem;
  font-size: 1.5rem;
  transform: translateY(-2rem);

}